.album-image {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #222;

  img {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
}