.album-image {
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 15px;
  background-color: #222;
  height: 330;
  position: relative;

  img {
    margin: 0;
    height: 300px;
    width: 300px;
  }

  .album-footer {
    color: white;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;

    p{
      margin: 0;
    }
    
    .album-name {
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      word-wrap: break-word;
    }

    .album-add-link{
      padding-bottom: 5px;
      font-size: 15px;
    }
  }

}